.bars {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.bars .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  display: none;
}

@media (max-width: 700px) {
  .bars .bar {
    display: flex;
  }
  .navlinks {
    display: none;
    width: 100%;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navlinks ul {
    width: 100%;
    flex-direction: column;
  }

  .navlinks li {
    text-align: center;
  }

  .navlinks li a {
    padding: .5rem 1rem;
  }

  .navlinks.active {
    display: flex;
  }
}