@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
	width: 100%;
	height: 100%;
	margin: 0;
	font-size:25px;
	background-color: darkgray;
	color:white;
}

.bigPicture{
	height: 100%;
	margin: 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
	background-position: center;
	background-image: url(circle.png);
	overflow-y: scroll;
	padding:40px
}
.bigPicture::-webkit-scrollbar{
	display: none;
}
#topbar
{
	display: grid;
	position: fixed;
	width: 100%;
	margin:0;
	grid-template-areas: 'link1 link2 link3';
}

a{
	text-decoration-line: none;
	padding:20px;
	border: 2px solid white;
	background-color:rgba(169, 169, 169, 0.9);
	color:white;
	backdrop-filter: blur(5px);
}

a:hover{
	color: darkgray;
	background-color: rgba(255,255,255, 1)
}

#l1{
	grid-area: link1;
	border-right: 1px solid white
}

#l2{
	grid-area: link2;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

#l3{
	grid-area: link3;
	border-left: 1px solid white;
}
h1{
	font-weight: 50
}
.codingBackground{
	background-image: url(https://i.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif);
}
