@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
	width: 100%;
	height: 100%;
	margin: 0;
	font-size:25px;
	background-color: darkgray;
	color:white;
}

.bigPicture{
	height: 100%;
	margin: 0;
  background-repeat: no-repeat;
  background-size: auto 100%;
	background-position: center;
	background-image: url(circle.png);
	padding:40px
}
#topbar {
	display: grid;
	position: fixed;
	width: 100%;
	margin:0;
	grid-template-areas: 'link1 link2 link3';
	z-index: 1;
}

a {
	text-decoration-line: none;
	padding:20px;
	border: 2px solid white;
	background-color:rgba(169, 169, 169, 0.9);
	color:white;
	backdrop-filter: blur(5px);
}

a:hover{
	color: darkgray;
	background-color: rgba(255,255,255, 1)
}

#l1{
	grid-area: link1;
	border-right: 1px solid white
}

#l2{
	grid-area: link2;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

#l3{
	grid-area: link3;
	border-left: 1px solid white;
}
h1{
	font-weight: 50
}
.codingBackground {
	background-image: url('https://i.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif');
	background-size: cover;
}

.sheetmusic {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://media.istockphoto.com/vectors/music-staff-with-music-notes-vector-vector-id475582788?k=20&m=475582788&s=612x612&w=0&h=m9yaXDI69P3sbakTdtXGTB8MEcYlOdYip64BhPvpK5s=');
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	transition: all 0.4s
}

#cursedFlappy {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://storage.googleapis.com/replit/images/1648220020827_81fb226cfc44c02b7b5a242696757f1f.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}